<!DOCTYPE html>
<html>

<head>
    <title>Student Database</title>
</head>

<body>

    <h1>STUDENT DATABASE</h1>

    <table border="1" cellpadding="10">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Course</th>
            <th>Email</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>

    <a href="/admin-dashboard">Back to Admin Dashboard</a>

</body>

</html>