<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
</head>

<body>

    <h1>Student Registration</h1>

    <form>

        <label>Full Name</label>
        <br>
        <input type="text" name="name" required>

        <br><br>

        <label>Date of Birth</label>
        <br>
        <input type="date" name="dob" required>

        <br><br>

        <label>Course</label>
        <br>
        <input type="text" name="course" required>

        <br><br>

        <label>Email</label>
        <br>
        <input type="email" name="email" required>

        <br><br>

        <label>Password</label>
        <br>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">Register</button>

    </form>

</body>
</html>